.design-agency-services-snippet {
    text-align: left;
}

.design-agency-process {
    .design-agency-process-content {
        max-width: 1236px;
        margin: 0 auto;
        .design-agency-process-content-left-snippet {
            text-align: left;
        }
        .design-agency-process-content-right-snippet {
            text-align: left;
        }
    }
}

.design-agency-work-left-snippet {
    text-align: left;
}

.design-agency-touch {
    textarea {
        width: 100%;
    }
}