.typewritter {
    border-right: .15em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
}

main {
    // max-width: 1236px;
    .row {
        padding: 64px 16px;
    }
    .panel-hero {
        padding-top: 60px;
        background-color: var(--background-secondary-color);
        width: 100%;
        .panel-hero-content {
            max-width: 1236px;
            margin: 0 auto;
            .panel-hero-left {
                padding-top: 100px;
                .panel-hero-left-snippet {
                    text-align: left;
                    .panel-hero-left-snippet-content {
                        font-size: 1.25rem;
                        font-weight: 400;
                    }
                    .panel-hero-left-snippet-buttons {
                        -webkit-box-pack: flex-start;
                        justify-content: flex-start;
                    }
                }
            }
            @media only screen and (max-width: 992px) {
                max-width: 720px;
                .panel-hero-left {
                    padding-top: 0;
                }
            }
        }
    }
    .panel-description {
        max-width: 1236px;
        margin: 0 auto;
        @media only screen and (max-width: 992px) {
            max-width: 720px;
        }
    }
    .panel-features {
        max-width: 1236px;
        margin: 0 auto;
        .home-features-tile-item {
            padding-right: 32px;
            .home-features-tile-item-content {
                text-align: left;
                background-color: var(--background-primary-color);;
                transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                box-shadow: rgba(140, 152, 164, 0.25) 0px 3px 6px 0px;
                overflow: hidden;
                padding: 32px;
                border-radius: 16px;
                width: 100%;
                height: 100%;
                h6 {
                    font-weight: 500;
                }
            }
        }
        .panel-features-img {
            margin: 0 auto;
        }
        .features-item-icon {
            color: var(--background-primary-color);;
        }
        @media only screen and (max-width: 992px) {
            max-width: 720px;
        }
    }
    .demo-pages {
        background-color: var(--background-secondary-color);
        .demo-pages-content {
            max-width: 1236px;
            margin: 0 auto;
            .demo-pages-table {
                width: 100%;
                padding-top: 50px;
                .demo-pages-table-title {
                    padding-bottom: 20px;
                }
                .demo-pages-table-content {
                    border-right: 1px solid rgba(var(--border-color), 0.12);
                    border-bottom: 1px solid rgba(var(--border-color), 0.12);
                    padding: 0;
                    margin: 0;
                }
                .demo-pages-table-content-row-col {
                    padding: 32px;
                    border-left: 1px solid rgba(var(--border-color), 0.12);
                    border-top: 1px solid rgba(var(--border-color), 0.12);
                    h6 {
                        font-size: 1rem;
                        line-height: 1.75;
                        font-weight: 700;
                    }
                    .view-demo {
                        text-align: right;
                        h6 {
                            margin: 0px;
                            font-family: Inter, sans-serif;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.57;
                            cursor: pointer;
                        }
                    }
                }
            }   
            @media only screen and (max-width: 992px) {
                max-width: 720px;
            }
        }
    }
    .get-started {
        margin: 0 auto;
    }
}