.pricing-header {
    display: flex;
    justify-content: space-between;
}

.pricing-feature {
    max-width: 1236px;
    margin: 0 auto;
    text-align: center;
    h2 {
        margin: 0 auto;
    }
    .pricing-feature-table {
        width: 100%;
        .pricing-feature-table-row {
            padding: 15px 0;
            border-bottom: 1px solid var(--foreground-primary-color);
            .pricing-feature-table-row-col {
                text-align: center;
                .pricing-check {
                    padding: 3px 5px;
                    background-color: yellow;
                    color: black;
                    border-radius: 50%;
                }
            }
        }
    }
}

.pricing-question {
    max-width: 1236px;
    margin: 0 auto;
    h2 {
        margin: 0 auto;
    }
}